.job-index-header {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centers items vertically */
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    background-color:rgb(63, 88, 199);
    width: 100%;
    gap: 20px;
}

.job-index-header-tabs {
    display: flex;
    flex-direction: row;
    gap: 2%;
}