.job-details-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.job-details-content p {
    margin: 0; /* Ensures there is no extra space */
}

.job-details-title {
    padding-left: 2%;
}

.job-details-not-title {
    padding-left: 5%;
}