.stages {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.stages-reviewers {
    flex: 1;
    padding: 10px;
    border-right: 1px solid black; /* Vertical border between sections */
}

.stages-content {
    flex: 3; 
    padding-top: 50px;
    padding-left: 60px;
}
