.circle-chain {
    display: flex;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a9a8a8;
    border: 1px solid black;
    position: relative;
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    font-size: 18px; /* Adjust font size for index */
    color: white; /* Set text color */
}

.circle img {
    width: 65%; /* Make the image fill the circle */
    height: 65%; /* Make the image fill the circle */
    object-fit: cover; /* Ensure the image maintains aspect ratio while filling the circle */
}

.selected-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a9a8a8;
    border: 5px solid black;
    position: relative;
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    font-size: 18px; /* Adjust font size for index */
    color: white; /* Set text color */
}

.selected-circle img {
    width: 65%; /* Make the image fill the circle */
    height: 65%; /* Make the image fill the circle */
    object-fit: cover; /* Ensure the image maintains aspect ratio while filling the circle */
}


.line {
    width: 30px; /* Adjust length */
    height: 1px; /* Thickness of the line */
    background-color: black;
}

.button-container {
    display: flex;
    gap: 1px; /* Space between buttons */
    padding-left: 40px;
}

.circle-button {
    background: none;
    border: none;
    padding: 5px; /* Reduce padding to make the button smaller */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle-button img {
    width: 30px; /* Make the image smaller */
    height: 30px; /* Make the image smaller */
}


